<footer>
    <h2>Mis Redes Sociales</h2>
    <ul>
        <li>
            <a href="https://www.facebook.com/share/1DTwPKWjNo/" target="_blank">Facebook </a>
            <img src="img/Facebook.jpg" alt="imagen_facebook"> 
        </li>
        <li>
            <a href="https://wa.me/qr/Q75RQIUOAGGTA1" target="_blank">WhatsApp</a>
            <img src="img/WhatsApp.jpg" alt="imagen_whatsapp"> 
        </li>
        <li>
            <a href="https://www.instagram.com/marvinespinal2112?igsh=d2I5MmJhYTNlNHVl" target="_blank">Instagram </a>
            <img src="img/Instagram.png" alt="imagen_instagram"> 
        </li>
    </ul>
</footer>